.c-bio__name {
  text-align: center;
  font-size: 28px;
}
.c-bio__accent {
  position: relative;
  width: 25px;
  height: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.c-bio__profession {
  text-align: center;
  margin-top: 15px;
}

/* Move to its own file */
.c-profession {
  font-size: 18px;
}

/* Move to its own file */
.c-link--githubio {
  display: block;
  margin-top: 5px;
}



/* ==============================
=== SMALL : 300-599px
=*/
@media (width >= 300px) {
  .c-bio__name {
    font-size: 32px;
  }
}

/* ==============================
=== MEDIUM : 600-899px
=*/
@media (width >= 600px) {
  .c-name {
    font-size: 58px;
  }
  /* Move to its own file */
  .c-profession {
    font-size: 20px;
  }
}

/* ==============================
=== Large : 900-1199px
=*/
@media (width >= 900px) {
  .c-bio__name {
    font-size: 64px;
  }
  .c-bio__accent {
    width: 24px;
    height: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    background: red;
  }
  .c-bio__profession {
    text-align: center;
    margin-top: 15px;
  }
  /* Move to its own file */
  .c-link--githubio {
    display: block;
    margin-top: 5px;
  }
}