.c-data-panel {
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
}

.c-data-panel__title {
  padding-bottom: 15px;
  text-align: center;
}

/* ==============================
=== SMALL : 300-599px
=*/
/* @media (width >= 300px) {} */

/* ==============================
=== MEDIUM : 600-899px
=*/
/* @media (width >= 600px) {} */

/* ==============================
=== Large : 900-1199px
=*/
@media (width >= 900px) {
  .c-data-panel {
    padding: 25px;
  }
  .c-data-panel__title {
    padding-bottom: 25px;
    font-size: 18px;
  }
}