.c-resume-bio__name {
  text-align: center;
  font-size: 28px;
}
.c-resume-bio__accent {
  position: relative;
  width: 25px;
  height: 3px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.c-resume-bio__profession {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

/* Move to its own module */
.c-link--githubio {
  display: block;
  margin-top: 5px;
}


/* ==============================
=== SMALL : 300-599px
=*/
@media (width >= 300px) {
  .c-resume-bio__name {
    font-size: 32px;
  }
}

/* ==============================
=== MEDIUM : 600-899px
=*/
@media (width >= 600px) {
  .c-resume-bio__name {
    font-size: 40px;
  }
  /* Move to its own file */
  .c-resume-bio__profession {
    font-size: 20px;
  }
}

/* ==============================
=== Large : 900-1199px
=*/
@media (width >= 900px) {
  .c-resume-bio__name {
    font-size: 64px;
  }
  .c-resume-bio__accent {
    margin-top: 3px;
  }
  .c-resume-bio__profession {
    text-align: center;
    margin-top: 15px;
  }
  /* Move to its own file */
  .c-link--githubio {
    display: block;
    margin-top: 5px;
  }
}