.c-snapshot-panel {
  position: relative;
  margin: 15px auto;
  padding: 15px;
  overflow: hidden;
}
.c-snapshot-panel:before {
  display: none;
 }
 .c-snapshot-panel:after {
  display: none;
 }
.c-snapshot-panel__title {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}
.t--default .c-snapshot-panel__title::before {
  content: "";
  position: absolute;
  top: 110%;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.t--default .c-snapshot-panel__title::after {
  content: "";
  position: absolute;
  top: 110%;
  height: 3px;
  width: 40%;
  left: 30%;
  background-color: black;
}
.c-snapshot-panel__content {
  position: relative;
  margin: 20px auto 15px;
  z-index: 999;
}

/* ==============================
=== SMALL : 300-599px
=*/
/* @media (width >= 300px) {} */

/* ==============================
=== MEDIUM : 600-899px
=*/
/* @media (width >= 600px) {} */

/* ==============================
=== Large : 900-1199px
=*/
/* @media (width >= 900px) {} */