.c-snapshot-panel {
  position: relative;
  margin: 15px auto;
  padding: 15px;
  overflow: hidden;
}
.c-snapshot-panel:before {
  display: none;
 }
 .c-snapshot-panel:after {
  display: none;
 }
.c-snapshot-panel__title {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}
.c-snapshot-panel__content {
  position: relative;
  margin: 20px auto 15px;
  z-index: 999;
}

/* ==============================
=== SMALL : 300-599px
=*/
/* @media (width >= 300px) {} */

/* ==============================
=== MEDIUM : 600-899px
=*/
/* @media (width >= 600px) {} */

/* ==============================
=== Large : 900-1199px
=*/
/* @media (width >= 900px) {} */