.o-resume {
  /* as a grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr auto;
}

/* ================
==/ HEADER
================ */
.o-resume__header {
  /* as a subgrid */
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  /* as a grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
}
.o-resume__header--with-headshot {
  /* as a subgrid */
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  /* as a grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  /* TEST */
  /* background: darkslateblue; */
}
.o-resume__header--with-headshot-and-headline {
  /* as a subgrid */
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  /* as a grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  /* TEST */
  /* background: darkslateblue; */
}
.o-resume__bio {
  grid-column-start: 1;
  grid-column-end: 13;
}

/* ================
==/ BODY
================ */
.o-resume__body {
  /* as a subgrid */
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  /* as a grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}
.o-resume__profile {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.o-resume__contact {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}
.o-resume__education {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
}
.o-resume__skillset {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
}
.o-resume__experience {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 6;
}

/* ==============================
=== SMALL : 300-599px
=*/
/* @media (width >= 300px) {} */

/* ==============================
=== MEDIUM : 600-899px
=*/
@media (width >= 600px) {
  .o-resume {
    /* as a grid */
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ==============================
=== LARGE : 900-1199px
=*/
@media (width >= 900px) {
  /* ================
  ==/ BODY
  ================ */
  .o-resume__body {
    /* as a grid */
    grid-template-rows: repeat(4, auto);
  }
  .o-resume__profile {
    grid-column-end: 7;
  }
  .o-resume__contact {
    grid-column-end: 7;
  }
  .o-resume__education {
    grid-column-end: 7;
  }
  .o-resume__skillset {
    grid-column-end: 7;
  }
  .o-resume__experience {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

/* ==============================
=== X-LARGE : > 1200px 
=*/
@media (width >= 1201px) {
  .o-resume {
    /* as a grid */
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
  }
}