*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  outline: none;
  /* font: inherit; */
  vertical-align: baseline;
  list-style: none;
}
body {
  background: var(--white);
}
