.t--operator .c-snapshot-panel {
  color: white;
}
/* .t--operator .c-snapshot-panel {
  box-shadow: inset 0px 0px 0px 4px white;
}
.t--operator .c-snapshot-panel:before {
  width: calc(100% - 36px);
  height: calc(100% - 0px);
  top:0;
  left:18px;
  content:'';			
  display: block;
  position: absolute;
  border-top: 4px solid rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
 }
 .t--operator .c-snapshot-panel:after {
  width: calc(100% - 0px);
  height: calc(100% - 36px);
  top: 18px;
  left: 0;
  display: block;
  position: absolute;
  content:'';
  border-right: 4px solid rgba(0, 0, 0, 0.9);
  border-left: 4px solid rgba(0, 0, 0, 0.9);
 } */

.t--operator .c-snapshot-panel__title {
  font-family: monospace;
  font-size: 18px;
}
.t--operator .c-snapshot-panel__title::before {
  content: "";
  position: absolute;
  top: 110%;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
}
.t--operator .c-snapshot-panel__title::after {
  content: "";
  position: absolute;
  top: 110%;
  height: 3px;
  width: 40%;
  left: 30%;
  background-color: white;
}
.t--operator .c-snapshot-panel__content {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
}